body{
    background-color: rgba(34,36,38,.1);
}

p {
    font-size: medium;
}

div.container {
    overflow-y: auto; 
    height: 80%;
    position: absolute;
    bottom: 11.5%;
    left: 5%;
    right: 5%;
}

div.ui.form {
    position: absolute;
    bottom: 20px;
    width: 90%;
    margin: 0 5%;
}

div.segment {
    width: 80%;
}

.segment.floated {
    margin-bottom: -0.5rem; 
}

.ui.inverted.large.button {
    margin-bottom: 5px;
}

.profile-aligned {
    margin-left: -10px !important;
    margin-top: -10px !important;
    text-transform: uppercase !important;
}

@media only screen and (max-height: 900px){
    div.container {
        height: 80% !important;
        bottom: 11.5% !important; 
    }
}
@media only screen and (max-height: 750px){
    div.container {
        height: 75% !important;
        bottom: 15% !important; 
    }
}
@media only screen and (max-height: 600px){
    div.container {
        height: 70% !important;
        bottom: 18% !important; 
    }
}
@media only screen and (max-height: 500px){
    div.ui.form {
        font-size: 0.6rem;
        width: 70%;
        margin: 0 15%;
    }
}