<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assistente Virtual da UCL</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <link rel="shortcut icon" href="https://chatbotucl.azurewebsites.net/icon/icon_ucl.png">
</head>
<body>
    <header>
        <nav class="ui three item blue inverted menu">
            <div class="header inverted item"></div>
            <div class="header inverted item">
                <h2>Faculdade UCL</h2>
            </div>
            <a id="startOpinionSearch" class="item"> 
                <i class="hand point up outline large icon"></i>
                Responder Pesquisa!  
            </a>
        </nav>
    </header>
    
    <main>
        <div class="ui container"></div>
    
        <div class="ui form">
            <div class="field">
                <div class="ui action massive input center aligned">
                    <input id="message" type="text" placeholder="Digite aqui..">
                    <button id="sendMessage" class="ui primary icon massive button "><i class="paper plane icon"></i></button>
                </div>
            </div>
        </div>
    </main>
          
     <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
      <script src="javascript/helper.js"></script>
      <script src="javascript/botController.js"></script>
      <script src="javascript/main.js"></script>
</body>
</html>